<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SpeechBasePath" value="https://westus.api.cognitive.microsoft.com/spid/v1.0"/>
    <add key="SpeechEnrollmentBasePath" value="https://westus.api.cognitive.microsoft.com/spid/v1.0/identificationProfiles/[profileid]/enroll"/>
    <add key="SpeechKey1" value="d54d4d788d384a33b6e5dc0e7e492c8a"/>
    <add key="SpeechKey2" value="0f80a15f531143c99ab1d7d9b3b7dc79"/>
  </appSettings>
</configuration>